*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: #eceaea;
}

.TESTE{
  font-size: xx-large;
  color: black;
  background-color: red;
}

.texto{
  color: black;
}


.background_login{
  background-image: url("/img/BackgroundLogin.jpg");
  height: 100vh;
  width: 100vw;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hud_login{
  width: 28em;
  height: 22rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.titulo_login{
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  background-color: white;
  color: black  ;
}

.input_text{
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  color: black;
}

.sub_titulo_tela_login{
  display: flex;
  justify-content: left;
  padding-left: 3rem;
  margin: 0 auto; 
  background-color: white;
  color: black;
}

.input_block{
  margin: 1rem auto;
  padding: 0.5rem;
  background-color: #ffffff;
}

.SubmitLogin{
  margin: 1.5rem auto;
  padding: 0.5rem;
  width: 80%;
  color: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: #4D3147;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra_lateral{
  width: 5rem;
  height: 100vh;
  background-color: rgb(235, 235, 235);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logo{
  width: 1.5rem;
  height: 10%;
  display: flex;
  justify-content: top;
  align-items: center;
  margin:0 auto;
}

.iconeUsers{
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  color: #FFF;
  background-color: #4D3147;
  border-radius: 1rem;
}

.iconeRoxo{
  color: white;
  background-color: transparent;
}

.cliente_barra{
  position: absolute;
  left: 8rem;
  top:2rem;
}

.titulo_cliente{
  padding-top: 1rem;
  padding-right: 1rem ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.input_client{
  width: 100%;
  padding: 0.5rem;
  padding-left: 0.2rem;
  padding-top:0.6rem ;
  border: 1px solid transparent;
  font-size: 1rem;
  background-color: transparent;
  color: black;
}

.icon_search{
  background-color: transparent;
  font-size: 1.2rem;
  margin-left: 0.6rem;;
  color:  rgba(140, 140, 140);
}

.client_bar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.barra_search{
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 60%;
  border: 1px solid #eceaea;
  font-size: 1rem;
  background-color: #fafafa;
  margin-top: 1rem;
  box-shadow: 0px 4px 4px rgba(140, 140, 140, 0.13);
  border-radius: 10px;
  
}

.clientes{
  position: absolute;
  left: 8rem;
  top: 10rem;
  background-color: #fff;
  width: 12rem;
  height: 16rem;
  border-radius: 1rem;
}

.icon_cliente{
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  color: #FFF;
  background-color: #4D3147;
  border-radius: 1.25rem;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nome_cliente{
  font-size: 1.4rem;
  color: black;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.bk_transparente{
  background-color: transparent;
}

.pv{
  background-color: white;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
}

.prox_viagem{
    color: #4D3147;
    background-color: white;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.caixa_mensal{
  background-color: white;
  width: 8rem;
  height: 3rem;
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.pr{
  background-color: transparent;
  color: rgb(116, 116, 116);
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.3rem;
}

.recorrencia{
  color: #866A80;
  background-color: transparent;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zapmail{
  background-color: white;
  position: absolute;
  display: flex;
  bottom: 0.1rem;
  width: 100%;
  bottom: 1rem;
  border-radius: 1rem;
}

.mail{
  background-color: white;
  display: flex ;
  font-size: 1.2rem;
  color: black;
  margin: 0.3rem;
  margin-right: 0.3rem;
}

.copiar_email{
  background-color: white;
  display: flex ;
  align-items: center;
  color: black;
  font-size: 0.6rem;
  padding-right:0.5rem ;
  border-right: 0.08rem solid rgb(68, 68, 68, 0.3);
}

.zap{
  background-color: white;
  display: flex ;
  font-size: 1.2rem;
  color: black;
  margin: 0.3rem;
  margin-left: 0.1rem;
  margin-right: 0.3rem;
}

.zaps{
  background-color: white;
  display: flex ;
  font-size: 1.2rem;
  color: black;
  margin: 0.3rem;
  margin-right: 0.3rem;
}

.copiar_zap{
  background-color: white;
  display: flex ;
  align-items: center;
  color: black;
  font-size: 0.6rem;
  padding-right:0.3rem ;
}