.flex{
    display: flex;
    width: 100%;
  }

.cabecalho{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: pink;
    width: 100%;
}

.name_icon{
    background-color: #4D3147;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
}

.nome_titulo{
    color: black;
    font-size: 1.4rem;
}

.Page3{
    display: flex;
    height: 10rem;
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    padding: 3rem;  
  }

.linha {

}
